<template id="player-selection-template">
    <div id="player-selection">
        <h2>Number of Players</h2>
        <div class="selection disabled" data-number="two">2 Players</div>
        <div class="selection" data-number="three">3 Players</div>
        <div class="selection" data-number="four">4 Players</div>
        <div class="selection disabled" data-number="five">5 Players</div>
        <div class="selection disabled" data-number="six">6 Players</div>
    </div>
</template>

<template id="gameboard-template">
    <div class="gameboard"></div>
</template>

<template id="settings-template">
    <div id="settings-icon">
        <img src="img/settings-icon.png" alt="Settings" />
    </div>
    <div id="settings">
        <div id="settings-background"></div>
        <div id="settings-modal">
            <div id="settings-close">
                X
            </div>
            <div id="settings-restart">
                Restart game
            </div>
            <div id="settings-export">
                Export log
            </div>
            <div id="settings-fullscreen">
                Fullscreen
            </div>
        </div>
    </div>
</template>

<template id="player-life-template">
    <div class="player-life">
        <div class="player-wrap">
            <div class="player-main-screen">
                <div class="player-total-life">
                    <div class="player-life-dashed">
                        <div class="player-life-dashed-up"></div>
                        <div class="player-life-dashed-down"></div>
                    </div>
                    <div class="player-life-number">
                        40
                    </div>
                    <div class="player-life-up-down">
                        <div class="player-life-up" data-target-class="player-life-number">+</div>
                        <div class="player-life-down" data-target-class="player-life-number">-</div>
                    </div>
                </div>
                <div class="enemies-commander-dmg"></div>
            </div>
            <div class="player-second-screen">
                <div class="miscellaneous-data">
                    <div class="poison-counter">
                        <div class="poison-counter-dashed">
                            <div class="poison-counter-dashed-up"></div>
                            <div class="poison-counter-dashed-down"></div>
                        </div>
                        <div class="poison-counter-number">0</div>
                        <div class="poison-counter-up-down">
                            <div class="poison-counter-up" data-target-class="poison-counter-number">+</div>
                            <div class="poison-counter-down" data-target-class="poison-counter-number">-</div>
                        </div>
                    </div>
                    <div class="kill-player">
                        <div class="kill-player-bg"></div>
                        <div class="kill-player-button">
                            KILL
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template id="enemy-commander-dmg-template">
    <div class="enemy-commander-dmg">
        <div class="enemy-commander-dashed">
            <div class="enemy-commander-dashed-up"></div>
            <div class="enemy-commander-dashed-down"></div>
        </div>
        <div class="enemy-commander-dmg-number">0</div>
        <div class="enemy-commander-up-down">
            <div class="enemy-commander-up">+</div>
            <div class="enemy-commander-down">-</div>
        </div>
    </div>
</template>