@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

$breakpoints: (
  'phone': 320px,
  'tablet': 1100px,
  'desktop': 1400px
);

$background-color: #d5d5d5;

$blue-selector-button: #0079ba;
$red-selector-button: #ba0034;
$grey-selector-button: #bbbbbb;

body {
    overflow: hidden;
    margin: 0 auto;
    background-color: $background-color;
    user-select: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 1000;
}

h2 {
    font-size: 5em;
}

#root {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &.rotation-90 {
        transform: rotate(90deg) translateY(-100%);
    }

    &.rotation90 {
        transform: rotate(-90deg) translateX(-100%);
    }
}

@media screen and (orientation: portrait) {
    #root {
        width: 100vh;
        height: 100vw;
        transform-origin: 0 0;
    }
}