@mixin selector-button($bg-color: $blue-selector-button) {
    padding: 2vw 4vh;
    margin: 15px;
    border-radius: 8px;
    background-color: $bg-color;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin background-center-no-repeat {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

@mixin absolute-complete-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@mixin absolute-complete-layer-with-flex {
    @include absolute-complete-layer;
    @include flex-center;
    flex-direction: column;

    & > div {
        @include flex-center;
        flex-grow: 1;
        width: 100%;
        font-size: 16px;
    }
}

@mixin relative-with-child-grow {
    @include flex-center;
    width: 100%;
    position: relative;

}