.player-life {
    &.three-players {
        width: calc(60vw);
        height: calc(50vh);

        & > {
            align-content: initial;
        }
        
        &#player-life-p1 {
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
        }
        &#player-life-p3 {
            -webkit-transform: translateY(270deg) translateX(-100%) scale(100%);
            -webkit-transform-origin: top left;

            transform: rotate(270deg) translateX(-100%) scale(100%);
            transform-origin: top left;

            width: 100vh;
            height: 40vw;
            z-index: 10;

            .player-wrap {
                width: 100vh;
                height: 40vw;
    
                .player-main-screen {
                    width: 100vh;
                    height: 40vw;
                }
    
                .player-second-screen {
                    width: 100vh;
                    height: 40vw;
                    left: 100vh;
                }
            }

            @include media("<desktop") {
                width: 75vw;
                height: calc(67vh);
            }
        }

        .player-wrap {
            width: 60vw;
            height: 50vh;

            .player-main-screen {
                width: 60vw;
                height: 50vh;
            }

            .player-second-screen {
                width: 60vw;
                height: 50vh;
                left: 60vw;
            }
        }
    }

    &.four-players {
        width: calc(50vw);
        height: calc(50vh);

        &#player-life-p1 {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
            z-index: 10;
        }
        &#player-life-p3 {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }
        &#player-life-p4 {
            z-index: 10;
        }

        .player-wrap {
            width: 50vw;
            height: 50vh;

            .player-main-screen {
                width: 50vw;
                height: 50vh;
            }

            .player-second-screen {
                width: 50vw;
                height: 50vh;
                left: 50vw;
            }
        }

    }

    &.player-life-p1, * .player-life-p1 {
        background-color: #399739;
    }

    &.player-life-p2, * .player-life-p2 {
        background-color: #395297;
    }

    &.player-life-p3, * .player-life-p3 {
        background-color: #978639;
    }

    &.player-life-p4, * .player-life-p4 {
        background-color: #793997;
    }

    .player-wrap {
        position: relative;

        .player-main-screen {
            position: absolute;

            display: flex;
            flex-direction: row;
            justify-content: center;
    
            .player-total-life {
                @include flex-center;
        
                width: calc(75% + 1px);
                position: relative;
        
                .player-life-number {
                    font-size: 13em;
        
                    @include media("<desktop") {
                        font-size: 8em;
                    }
                }
        
                .player-life-up-down, .player-life-dashed {
                    @include absolute-complete-layer-with-flex;
                }
        
                .player-life-dashed {
                    z-index: -1;
                    
                    > div:last-of-type {
                        border-top: 1px dashed #626262;
                    }
                }
            }
        
            .enemies-commander-dmg {
                width: 25%;
                display: flex;
                flex-direction: column;
            }
        
            .enemies-commander-dmg {
                @include flex-center;
        
                background-color: $background-color;
        
                .enemy-commander-dmg {
                    @include flex-center;
        
                    font-size: 4em;
                    width: 100%;
                    flex-grow: 1;
        
                    position: relative;
        
                    &:last-of-type {
                        border-bottom: none;
                    }
                }
        
                .enemy-commander-up-down, .enemy-commander-dashed {
                    @include absolute-complete-layer-with-flex;
                }
        
                .enemy-commander-dashed {
                    z-index: -1;
                    
                    > div:last-of-type {
                        border-top: 1px dashed #626262;
                    }
                }
            }
        }
    
        .player-second-screen {
            position: absolute;
            transition: left 0.5s ease-in-out;
            background-color: $background-color;
            z-index: 5;
    
            .miscellaneous-data {
                @include flex-center;
                background-color: $background-color;
        
                & > div {
                    height: 50%;
                }
        
                .poison-counter {
                    @include flex-center;
                    width: 100%;
                    position: relative;
        
                    &::before {
                        content: "";
                        background-image: url('../img/poison-icon.png');
                        @include background-center-no-repeat;
                        @include absolute-complete-layer;
                        opacity: 0.25;
                    }
        
                    .poison-counter-number {
                        font-size: 4em;
                    }
        
                    .poison-counter-up-down, .poison-counter-dashed {
                        @include absolute-complete-layer-with-flex;
                    }
            
                    .poison-counter-dashed {
                        z-index: -1;
                        
                        > div:last-of-type {
                            border-top: 1px dashed #626262;
                        }
                    }
                }
        
                .kill-player {
                    @include flex-center;
                    width: 100%;
                    position: relative;
                    background-color: $background-color;
        
                    .kill-player-button {
                        font-size: 3em;
                    }
        
                    &::before {
                        content: "";
                        background-color: red;
                        @include absolute-complete-layer;
                        opacity: 0.25;
                    }
        
                    .kill-player-bg {
                        background-image: url('../img/skull-icon.svg');
                        @include background-center-no-repeat;
                        @include absolute-complete-layer;
                        opacity: 0.25;
                    }
                }
            }
        }
    }
}