#settings-icon {
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: #d5d5d5;
    z-index: 100;

    @include flex-center;

    &.three-players {
        top: calc(50vh - 20px);
        left: calc(60vw - 20px);
    }

    &.four-players {
        top: calc(50vh - 20px);
        left: calc(50vw - 20px);
    }

    img {
        width: 34px;
        height: 34px;
    }
}

#settings {
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    
    @include flex-center;

    #settings-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1;
        background-color: rgba(0,0,0,0.3);
    }
    
    #settings-modal {
        position: relative;
        width: 50vw;
        height: 50vh;
        background-color: #d5d5d5;
        border-radius: 16px;
        padding: 4px;
        z-index: 2;
        
        @include media("<desktop") {
            width: 75vw;
            height: calc(67vh - 4px);
        }

        @include flex-center;
        flex-wrap: wrap;

        #settings-close {
            position: absolute;
            top: 8px;
            right: 12px;
            font-weight: bolder;
            font-size: 3em;
        }

        #settings-restart {
            @include selector-button($red-selector-button);
        }

        #settings-export {
            @include selector-button($grey-selector-button);
            color: #444444;
        }

        #settings-fullscreen {
            @include selector-button($blue-selector-button);
        }
    }
}